<base href="/Cyber_Bullying_Detection_System/">
<link rel="stylesheet" href="style.css">

body {
  font-family: Times New Roman, sans-serif;
  line-height: 1.6;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}
img {
  border-radius: 50%;
}
